[package]
name = "web"
version = "0.1.0"
edition = "2021"

[dependencies]
dioxus = { workspace = true, features = ["router", "fullstack"] }
dioxus-motion = { git = "https://github.com/wheregmis/dioxus-motion.git", branch = "main", features = ["web", "transitions"] }
ui = { workspace = true }

[features]
default = []
web = ["dioxus/web"]
server = ["dioxus/server", "ui/server"]
