ENVIRONMENT=test


APP_PROJECT_ROOT=/workspaces/loom
APP_AUTHENTICATION_SECRET=s€cR€+


DATABASE_BASE_URI=sqlite:///workspaces/loom/.devcontainer/database
ADMIN_DATABASE_NAME=test_loom_admin

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
