.default-layout {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100vh;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: .5rem;
}

/* Break points */
@media (min-width: 640px) {
    .default-layout {
        padding: 1.5rem;
    }
}
@media (min-width: 768px) {
    .default-layout {
        padding: 2rem;
    }
}
@media (min-width: 1024px) {
    .default-layout {
        padding: 2.5rem;
    }
}
