body {
    padding: 0;
    margin: 0;
    background-color: var(--color-bg);
    color: var(--color-text-primary);
    font-family: Inter;
}

.default-layout {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100vh;
    .default-layout-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
}

/* Break points */
/*@media (min-width: 640px) {
    .default-layout {
        width: 100%;
        max-width: 608px;
    }
}
@media (min-width: 768px) {
    .default-layout {
        width: 100%;
        max-width: 730px;
    }
}
@media (min-width: 1024px) {
    .default-layout {
        width: 100%;
        max-width: 973px;
    }
}
@media (min-width: 1280px) {
    .default-layout {
        width: 100%;
        max-width: 1216px;
    }
}
@media (min-width: 1536px) {
    .default-layout {
        width: 100%;
        max-width: 1460px;
    }
}*/
