body {
    padding: 0;
    margin: 0;
    background-color: var(--color-bg);
    color: var(--color-text-primary);
    font-family: Inter, sans-serif;
}

.default-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.default-layout-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    padding: 0.5rem;
    align-items: center;
}

@media (min-width: 640px) {
    .default-layout-content {
        padding: 1.5rem;
    }
}
@media (min-width: 768px) {
    .default-layout-content {
        padding: 2rem;
    }
}
@media (min-width: 1024px) {
    .default-layout-content {
        padding: 2.5rem;
    }
}
